<div class="loaderTexto">
  <form [formGroup]="loginFormulario" (ngSubmit)="login()">
    <mat-form-field appearance="outline">
      <mat-label>Correo</mat-label>
      <input matInput placeholder="correo" formControlName="correo" required />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Contrasena</mat-label>
      <input
        matInput
        placeholder="contrasena"
        formControlName="contrasena"
        required
      />
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="loginFormulario.invalid">Iniciar</button>
  </form>
</div>
